.container-calculator {
    display: flex;
    justify-content: center;
}

.pantalla-calculator p {
    font-size: 36px;   
}


.calculator {
    height: 600px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.pantalla-calculator {
    background-color: rgba(160, 168, 168, 0.955);
    min-height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}

.botones-calculator button {
    width: 120px;
    height: 112px;
    font-size: 25px;
    font-weight: 700;
}

.botones-calculator {
    display: flex;
}