.container-calculator {
    display: flex;
    justify-content: center;
}

.calculator {
    height: 580px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.pantalla-calculator {
    background-color: aqua;
    min-height: 100px;
    width: auto;
    margin: 10px;
    border-radius: 5px;
}

.botones-calculator button {
    width: 120px;
    height: 112px;
    font-size: 25px;
    font-weight: 700;
}

.botones-calculator {
    display: flex;
}